<template lang="pug">
  v-footer(height="auto" color="primary lighten-1") 
    v-layout(
        justify-center
        row
        wrap
      )
        v-flex(
          primary
          lighten-2
          py-3
          text-xs-center
          white--text
          xs12
        ) &copy;2018 — <strong>Vuetify</strong>
</template>

<script>
export default {};
</script>

<style lang="scss">
</style>
