<template lang="pug">
  v-toolbar(app) 
    v-toolbar-title Title
    v-spacer
    v-toolbar-items.hidden-sm-and-down    
      v-btn(flat)
        router-link(:to="{ name: 'home'}") Home
      v-btn(flat)
        router-link(:to="{ name: 'about'}") About
      v-btn(flat)
        router-link(:to="{ name: 'contact'}") Contact
</template>

<script>
export default {};
</script>

<style lang="scss">
</style>
