<template lang="pug">
  include ../tools/mixins.pug

  +b.hello
    +e.H1.title Home
    +e.SPAN.text test
</template>

<script>
export default {
  data: () => ({
    // test
  }),
};
</script>

<style lang="scss">
</style>
