<template lang="pug">
  v-app
    Header
    v-content
      v-container(fluid)
        router-view  
    Footer
</template>

<script>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';

const requireAllFiles = function requireAll(requireContext) {
  return requireContext.keys().map(requireContext);
};

requireAllFiles(
  require.context('./assets/icons', true, /^\.\/.*\.(webmanifest|xml|png|ico)$/),
);

export default {
  name: 'App',
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      //
    };
  },
};
</script>

<style lang="scss">
@font-face {
  font-family: "SourceSansPro";
  src: url("./assets/fonts/SourceSansPro-Regular.eot");
  src: local("☺"),
    url("./assets/fonts/SourceSansPro-Regular.woff") format("woff"),
    url("./assets/fonts/SourceSansPro-Regular.ttf") format("truetype"),
    url("./assets/fonts/SourceSansPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #000;
  color: aqua;
  font-size: 16px;
  font-family: "SourceSansPro", sans-serif;
  user-select: none;
}

a {
  color: #000;
}

li {
  list-style: none;
}
</style>
